.navbar {
    height: 70px;
}

.navbar-brand {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar-brand img {
    max-height: 90%;
    filter: drop-shadow(8px 3px 3px #666);
}

.navbar>.container {
    height: 100%;
}

@media (max-width: 991.98px) {
    .navbar {
        height: auto;
    }

    .navbar-brand img {
        max-height: 44px;
    }

    .navbar .input-group {
        width: 50%;
        margin: 0 auto;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
    }

    .navbar li {
        width: 25%;
    }

    .navbar li.select {
        width: 30%;
    }

    .navbar li.select .input-group {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .navbar li.select {
        margin-left: 20px !important;
        width: 80%;
    }
}