.board-table {
    width: 96vw;
    height: 96vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 50px;
    background: linear-gradient(to right, #555, #666);
    padding: 3px 2px 2px 3px;
    box-shadow: 2px 2px 20px #222;
    margin-bottom: 22px;
}

.dark-theme .board-table {
    box-shadow: 0px 0px 9px #bbbbbb;
}

.board-table.locked {
    pointer-events: none;
}

.board-table .square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    font-family: cursive;
    margin-right: 2px;
    font-size: 70%;
}

.dark-theme .board-table .square {
    background-color: #333333;
}

.dark-theme .board-table .square.winner {
    background-color: #28a745;
}

.board-table .square.checked {
    cursor: default;
    animation: textgrowth 0.5s alternate;
}

.board-table .square.winner {
    background-color: #c6f4d0;
}

input[type=button] {
    margin-top: 20px;
}

.thinking-container,
.thinking-image {
    width: 40px;
    height: 40px;
}

.fireworks-animation {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 96vw;
    max-height: 96vw;
}
.game-result {
    text-shadow: 1px 1px 15px #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.undo-image {
    width: 21px;
}

.current-player-container {
    letter-spacing: -0.1rem;
}

.current-player-container b {
    letter-spacing: 0;
}

@keyframes textgrowth {
    0% {
        font-size: 0px;
    }

    50% {
        font-size: 140%;
    }

    100% {
        font-size: 70%;
    }
}