#container {
    text-align: center;
    min-height: 100vh;
}

.app-title {
    text-shadow: 5px 1px 7px #999999;
}
footer {
    position: absolute;
    width: 100%;
    height: 56px;
    z-index: 9;
}

@media (max-width: 354px) {
    footer {
        height: 96px;
    }
}