<div class="task-req-page-container mb-1">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-12 px-0">
            <h1 class="display-4 font-italic">Ayyeka Frontend Exam</h1>
            <p class="lead my-3">In this exam, we will need to develop a small game named Tic Tac Toe with angular
                framework.</p>
        </div>
    </div>
    <div class="row m-0 mb-2 bottom-section">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="d-inline-block mb-2 text-primary ">Game Flow</h3>
                    <p class="card-text mb-auto text-left">
                        Start the game by entering two player names and then show the empty board.
                        <br>
                        Show the current player turn and game state of the board.
                        <br>At the end of the game show the winner.
                    </p>
                </div>
            </div>
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="d-inline-block mb-2 text-danger">Bonus</h3>
                    <p class="card-text mb-auto text-left">
                        You will receive extra credit for creative styling and animations
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="d-inline-block mb-2 text-success">Technical Requirements</h3>
                    <p class="card-text mb-auto text-left">
                        Use angular as your primary js framework.
                        <br>
                        Use any other js libs for styling improvement.
                        <br>
                        Preserve game state of the board after a browser refresh.
                        <br>
                        Allow "rollback" one move in the game by pressing the browser back button.
                        <br>
                        Support responsive layout.
                        <br>
                        Design the solution so that it can be easily change be the following items:
                    </p>
                    <p class="ml-2 text-left">
                        <b>Board style themes</b><br>
                        Support styling themes of the board and the cells so that it can be easily changed in the future
                        - example a dark mode theme.
                        <br>
                        <b>Board size</b><br>
                        Support a configuration parameter to change the board game from 3x3 to larger (10x10) board.
                        <br>
                        <b>Game winning examination strategy:</b><br>
                        Support an easy strategy change of game won examination
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>